@import url("https://use.typekit.net/zja3szf.css");
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Define classes for each font weight */
.geist-100 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.geist-200 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.geist-300 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.geist-400 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.geist-500 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.geist-600 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.geist-700 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.geist-800 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.geist-900 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0, 0%, 100%; /* Example value */
  --foreground: #171717;
  --radius: 22rem;



    --background: 0, 0%, 100%; /* Example value */
    --foreground: 0, 0%, 0%; /* Example value */
    --card: 240, 100%, 95%; /* Example value */
    --card-foreground: 240, 100%, 10%; /* Example value */
    --popover: 240, 100%, 90%; /* Example value */
    --popover-foreground: 240, 100%, 15%; /* Example value */
    --primary: 133, 97%, 32%; /* Example value */
    --primary-foreground: 0, 0%, 100%; /* Example value */
    --secondary: 240, 100%, 60%; /* Example value */
    --secondary-foreground: 240, 100%, 20%; /* Example value */
    /* Add other variables as needed */

}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
    --radius: 1rem; 
}
  }


body {
  color: var(--foreground);
  background: var(--background);
   font-family: "Geist", serif;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
  font-family: "Geist", serif;
}

/* Change text selection color */
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #D50064;
}

::selection {
  color: white;
  background: #D50064;
}

